
.clientesCabecalho {
    background-color: white;
    margin: 10px 0px;
    box-shadow: 0 0 5px 2px gray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  border-radius: 5px;
}
  
  .clientesCabecalhoNovoCliente {
    background-color: #003a36;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border: none;
  }
  
  .cabecalhoPesquisa {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .cabecalhoPesquisaBarra {
    width: 300px;
    border-bottom: 1px solid gray;
    color: gray;
    border: none;
    border-bottom: solid 1px gray;
    padding: 5px 5px 0;
    font-size: 1rem;
    outline: none;
  }
  
  .cabecalhoPesquisaIcone {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  
  