.clientesTela {
  min-height: 100vh;
  min-width: 100vw;
  /* background-color: rgba(0, 58, 54, 0.15); */
  position: absolute;
  z-index: 2;
}

.clientesFundo{
  background-color: rgba(0, 58, 54, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.clientesConteudo {
  min-height: 100%;
  /* min-width: 100%; */
  width: auto;
  margin-left: 17vw;
  /* width: 100%; */
  padding: 70px 100px;
}

/* primeira quebra 
1200 */