.dashboardTela {
  position: absolute;
  top: 0;
  left: 17vw;
  height: 100vh;
  width: 83vw;
  padding: 70px 100px;
}

.dashboardVoltar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
}

.dashboardVoltarIcone {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}

.dashboardTitulo {
  font-size: 1.2rem;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-top: 10px;
}

.dashboardColuna {
  background-color: white;
  flex: 1;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 0 5px 2px gray;
}

.dashboardColunaTitulo {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
}

.dashboardGraficoPizza {
  margin: -40px 0 -20px;
}

.dashboardGraficoDescricao {
  margin-top: 15px;
  text-align: justify;
}

.dashboardBotao {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.dashboardAnaliseGraficoDado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  margin: 5px 0 0 70px;
  z-index: 2;
}

.dashboardAnaliseGraficoDadoCorTubarao {
  width: 20px;
  height: 20px;
  background-color: #3366CC;
}

.dashboardAnaliseGraficoDadoCorGato {
  width: 20px;
  height: 20px;
  background-color: #DC3912;
}


.dashboardAnaliseGraficoDadoCorLobo {
  width: 20px;
  height: 20px;
  background-color: #FF9900;
}


.dashboardAnaliseGraficoDadoCorAguia {
  width: 20px;
  height: 20px;
  background-color: #109618;
}


.dashboardAnaliseGraficoDadoTitulo {
    width: 80px;
    font-size: 1rem;
}

.dashboardObjetivoGrafico {
  margin: 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.dashboardObjetivoGraficoFundo {
  background-color: white;
  width: 185px;
  height: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.dashboardObjetivoGraficoProgressao {
  background-color: #003a36;
  height: 100%;
  border-radius: 10px;
}

.dashboardObjetivoParcela {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#cor1 {
  background-color: #3366CC;
  width: 20px;
  height: 20px;
}

#cor2 {
  background-color: #DC3912;
  width: 20px;
  height: 20px;
}

#cor3 {
  background-color: #FF9900;
  width: 20px;
  height: 20px;
}

#cor4 {
  background-color: #109618;
  width: 20px;
  height: 20px;
}

#cor5 {
  background-color: #990099;
  width: 20px;
  height: 20px;
}

#cor6 {
  background-color: #0099C6;
  width: 20px;
  height: 20px;
}

#cor7 {
  background-color: #DD4477;
  width: 20px;
  height: 20px;
}

#cor8 {
  background-color: #66AA00;
  width: 20px;
  height: 20px;
}

#cor9 {
  background-color: #B82E2E;
  width: 20px;
  height: 20px;
}

#cor10 {
  background-color: #316395;
  width: 20px;
  height: 20px;
}

.dashboardMapaRenda {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.dashboardMapaDespesa {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.dashboardMapaDespesaTitulo {
  text-align: left;
  flex: 2

}

.dashboardColunaSaudeGrafico {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboardGraficoSaude {
  width: 200px;
}

.dashboardGraficoSaudeAgulha {
  margin-top: -65px;
  width: 120px;
}

.dashboardDescricao {
  margin-top: 20px;
  outline: none;
  border: none;
}

.dashboardDescricaoEnviar {
  padding: 10px 15px;
  background-color: #003a36;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
