.clientesMenu {
    width: 17vw;
    height: 100vh;
    background-color: #003a36;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }
  
  .clientesLogo {
    height: 100px;
  }
  
  .clientesMenuNav {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    height: 70%;
    justify-content: space-between;
    width: 100%;
  }
  
  .clientesMenuNavDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 25px;
  }
  
  .clientesMenuNavItem {
    color: white;
    font-size: 1.3rem;
    word-wrap: break-word;
    text-align: left;
  }