  .novoClienteFundo {
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
    top: 0;
    left: 17vw;
    width: 83vw;
    min-height: 100%;
    z-index: 2;
  }
  
  .novoClienteModal {
    background-color: white;
    top: 10vh;
    left: 30vw;
    min-width: max-content;
    width: 912px;
    min-height: fit-content;
    height: 80vh;
    position: fixed;
    z-index: 3;
    overflow-y: scroll;
  }
  
  .novoClienteCabecalho {
    background-color: #003a36;
    padding: 20px 10px;
  }
  
  .novoClienteCabecalhoTitulo {
    font-size: 1.5rem;
    color: white;
    margin-left: 20px;
  }
  
  .novoClienteFormTitulo {
    margin-top: 20px;
    text-align: center;
    grid-area: titulo;
  }
  
  .novoClienteFormLabel {
    text-align: right;
    margin-top: 15px;
  }
    
  .novoClienteBotoes {
    /* position: absolute;
    bottom: 30px;
    right: 30px; */
    display: flex;
    justify-content: right;
  }
  
  .novoClienteBotoesCancelar {
    padding: 10px 15px;
    background-color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: -100px 115px 0 0 ;
  }

  .novoClienteCBotoesBotao {
    padding: 10px 15px;
    height: fit-content;
    background-color: #003a36;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -70px 30px;
  }
  

/* 
Primeira quebra
  1100 */