@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.appTela {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url(./assets/img/fundo_login1.jpg);
  background-repeat: no-repeat;
  background-position-y: -80px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 15%;
}

.appConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appLogo {
  width: 300px;
}

.appFormulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.appInput {
  background-color: white;
  color: black;
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 20px;

}

.erro{
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.appBotao {
  background-color: #003A36;
  color: white;
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.appBotaoAcesso {
  color: white;
  background-color: transparent;
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
  border-width: 0;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.carregando {
  font-size: 1.2rem;
  color: white;
}